<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">Trend One</a>
    <a class="panel-block">Trend Two</a>
    <a class="panel-block">Trend Three</a>
    <a class="panel-block">Trend Four</a>
    <a class="panel-block">Trend Five</a>
    <a class="panel-block">Trend Six</a>
  </nav>
</div>